.support-campaign-bg{
    background-image: linear-gradient(rgba(58, 12, 163, 0.5), rgba(58, 12, 163, 0.5)),
        url("../../../images/flood.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}