.slide-img {
    width: 100%;
    object-fit: cover;
}

.carousel-1 {
    position: relative;
    min-height: 60vh;
}

.carousel-1::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../../images/1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
  -webkit-filter: blur(3px);
}

.carousel-2 {
    position: relative;
    min-height: 60vh;
}

.carousel-2::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../../images/4.JPG');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
  -webkit-filter: blur(3px);
}

.carousel-3 {
    position: relative;
    min-height: 60vh;
}

.carousel-3::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../../images/3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
  -webkit-filter: blur(3px);
}

.carousel-upper-layer{
    position: relative;
}

#take-action {
    background-color: #C1F7D5;
}

.take-action-title {
    font-family: 'Lato', sans-serif;
    font-size: 18pt;
    font-weight: 800;
    color: #354463;
    margin-bottom: .8em;
}

.take-action-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    font-weight: 400;
    color: #354463;
}

.box-title {
    font-family: 'Rubik', sans-serif;
    font-size: 10pt;
    font-weight: 300;
    background-color: #354463;
    padding: 1em 1.5em;
    color: white;
    text-transform: uppercase;
}

.bg-light-dark{
    background-color: rgba(53, 68, 99, 0.4);
}