.header-logo{
    width: 6vh;
}

.nav-link{
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500 !important;
    font-size: 13pt !important;
    color: white !important;
    border-radius: 5px;
}

.nav-link:hover{
    background-color: #C1F7D5;
    color: #354463 !important;
}


.tog-nav{
    background-color: rgba(53, 68, 99, 0.1);
}

.bg-blue{
    background-color: #354463;
}

.bg-header{
    opacity: 92%;
}

.header-bg {
    background-color: #94E1F6 !important;
}

.nav-login-btn {
    background-color: #28527a !important;
    border-radius: 5px;
    color: white !important;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.nav-login-btn:hover {
    background-color: #C1F7D5 !important;
    color: #354463 !important;
}

.userName{
    color: #C1F7D5 !important;
    font-weight: 600;
}

.userName :hover{
    background-color: #354463 !important;
    color: #C1F7D5 !important;
}