.cash-donation-bg{
    background-image: linear-gradient(rgba(76, 201, 240, 0.5), rgba(76, 201, 240, 0.5)),
        url("../../../images/gallery/d12.jpg");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: cover;
}